* {
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
    font-family: 'Rubik', sans-serif;
}
h1{ 
    margin-top: 1%;
    margin-bottom: 0.5%;
    width: 100%;
    text-align: center;
}
h2{
    margin-top: 1%;
    margin-bottom: 0.5%;
    width: 100%;
    text-align: center;   
}
.header_section {
    background-color: white;
    display: flex;
    width: 100%;
    height: 600px;
    justify-content: space-between;
}
.header_left {
    display: flex;
    justify-content: space-around;
    width: 50%;
    background-color: #333a56;
    
}
#logo_manu{
    position: absolute;
    top: 10px; 
    left: 40px;
    width: 4%;
    border-radius: 50%;
    box-shadow: 0 0 100px #52658f;
background: #52658f;
}
#profile_picture{
    margin-top: 10%;
    margin-bottom: 5%;
box-shadow: 0 0 100px #52658f;
background: #52658f;
}
.header_right{
    background-color: #f5f5e6;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 50%;
}
.nav_bar{
    background-color: #f5f5e6;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 50%;
    height: 15%;
    border-radius: 50px;
    
}
.nav_bar button {
    color: black;
    border: none;
    background-color: #f5f5e6;
    font-size: 25px;
    width: 30%;
    height: 50%;
    box-shadow: 0 0 20px #52658f;
    transition: .4s;
}
.nav_bar button:hover {
    color: white;
    box-shadow: 0 0 20px #f5f5e6;
    background-color: #52658f;
}
.phrase_header_right{
    background-color: #f5f5e6;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 30%;
    border-radius: 50px;
}
.phrase_header_right p {
    font-size: 50px;
    text-align: center;
    color: black;
    background-color: #f5f5e6;
    border-bottom: dotted #333a56;
}
/* hasta aqui va el header */

.habilities_section{
    display: flex;
    height: 600px;
}

.habilities_section_left{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 50%;
    background-color: white;
}

.technical_skills_title {
    width: 50%;
    border-bottom: dotted black;
}
.technical_skills_title p {
    text-align: center;
    font-size: 40px;
    color: black;
    background-color: white;
}
.technical_skills_icons{
    display: flex;
    width: 100%;
    justify-content: space-around;
    background-color: white;

}
.technical_skills_icons p {
    font-size: 25px;
    text-align: center;
    background-color: white;
    color: black;
}
.habilities_section_right{
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #52658f;
}
.soft_skills {
    background-color: #52658f;
    font-size: 25px;
}
.soft_skills p{
    background-color: #52658f;
}
.featured_skills{
    display: flex;
    height: 90%;
    flex-direction: column;
    justify-content: space-around;
    align-content: space-around;
    background-color: #52658f
}
.featured_skills p{
    text-align: center;
    font-size: 25px;
    background-color: #52658f
}
.featured_skills img{
    border-radius: 500px;
    background-color: #52658f;
    width: 100px;
}
.technical_skills_icons img {
    border-radius: 500px;
    background-color: white;
    width: 100px;

}
/* hasta aqui va la seccion habilidades*/

.about_me_section {
    display: flex;
    height: 600px;
}
.about_me_section_left{
    background-color: #333a56;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: space-around;
    text-align: center;
    align-items: center;
}
.certification_text{
    background-color: #333a56;
    font-size: 35px;
}
.certification_text p{
    background-color: #333a56;
    border-bottom: dotted white;
}
.certification_certificates{
    display: flex;
    justify-content: space-around;
    background-color: #333a56;
}
.about_me_section_right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-items: end;
    background-color: #f5f5e6;
    width: 50%;
}
.about_me_section_right p{
    width: 40%;
    font-size: 20px;
    color: black;
    background-color: #f5f5e6;
}
.certification_certificates img {
    width: 17%;
}
/* hasta aqui va la seccion about me*/

.contact_section {
    display: flex;
    height: 600px;
}
.contact_section_left {
    width: 50%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: space-around;
    align-items: center;
}
.social_media_title{
    text-align: center;
    width: 20%;
    font-size: 35px;
    background-color: white;
    color: black;
    border-bottom: solid #333a56;
    box-shadow: 0 0 25px #333a56;
    border-radius: 35px;
}
.social_media_icons{
    background-color: white;
    display: flex; 
    justify-content: space-around;
    align-items: center;
}
.social_media_icons a {
    background-color: white;
    width: 9%;
}
.social_media_icons img {
    border-radius: 30px;
    background-color: white;
    width: 100%;
}
.social_media_icons img:hover{
    box-shadow: 0 0 25px #333a56;
}
.contact_section_right {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 50%;
    background-color: #52658f;
}
.contact_formulary{
    width: 50%;
    background-color: #52658f;
    /*width: 50%;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.contact_formulary h3{
    border-bottom: solid #f5f5e6;
    background-color: #52658f;
    font-size: 40px;
}
.formul{
    font-size: 25px;
    background-color: #52658f;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: space-around;
}
.formul label{
    background-color: #52658f;
}
.formul button {
    margin-top: 2%;
    width: 400px;
    font-size: 30px;
}
#nombre {
    width: 400px;
    font-size: 25px;
    color: black;
    background-color: white;
}
#correo{
    width: 400px;
    font-size: 25px;
    color: black;
    background-color: white;
}
#mensaje{
    height: 100px;
    width: 400px;
    font-size: 25px;
    color: black;
    background-color: white;
}
footer {
    margin-top: 1%;
    margin-bottom: 1%;
    width: 100%;
    text-align: center;
}
#curriculum img {
    width: 4%;
}
#curriculum p {
    margin-bottom: 1%;
}

@media (max-width: 1438px) and (min-width: 871px){
    .header_section{
        height: 500px;
    }
    .header_left{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #profile_picture{
        width: 40%;
        border-radius: 10px;
    }
    .nav_bar button{
        border-radius: 100px;
        font-size: 15px;        
    }
    .phrase_header_right p{
        font-size: 30px;        
    }
    .technical_skills_icons{
        width: 85%;
    }
    .technical_skills_icons img{
        width: 30%;
    }
    .technical_skills_icons p{
        font-size: 15px;
    }
    .soft_skills p{
        font-size: 15px;
    }
    .featured_skills p{
        font-size: 15px;
    }
    .about_me_section_right p{
        font-size: 15px;
    }

}
@media (max-width: 870px) and (min-width: 701px){
    .nav_bar button {
        width: 100%;
        height: 30px;
    }   
    .nav_bar{
        flex-direction: column;
        height: 30%;
    }  
    .header_right{
        flex-direction: column-reverse;
    } 
    #profile_picture{
        margin-top: 20%;
        width: 60%;
        height: 18em;
        border-radius: 100px;
    }  
    .technical_skills_icons{
        flex-direction: column;
    }
    .technical_skills_icons p{
        font-size: 15px;
    }
    .technical_skills_icons img{
        width: 50px;
    }
    .habilities_section_right{
        flex-direction: column;
        align-content: center;
        justify-content: center;
    }
    .soft_skills {
        margin-top: 25%;
        display: flex;
        justify-content: space-around;
        height: 50%;
        flex-direction: column;
    }
    .soft_skills p{
        font-size: 15px;
    }
    .featured_skills{
        margin-top: 25%;
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-content: space-around;
        height: 50%;
        flex-direction: row;
    }
    .featured_skills p{
        font-size: 15px;
    }
    .featured_skills img{
        width: 50px;
    }
    .about_me_section_right p{
        text-align: center;
        font-size: 15px;
    }
    .social_media_title{
        width: 70%;
    }
    .contact_formulary{
        width: 50%;
        background-color: #52658f;
        /*width: 50%;*/
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }
    .contact_formulary h3{
        border-bottom: solid #f5f5e6;
        background-color: #52658f;
        font-size: 20px;
    }
    .formul{
        font-size: 15px;
        background-color: #52658f;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-content: space-around;
    }
    .formul label{
        font-size: 20px;
        background-color: #52658f;
    }
    .formul button {
        margin-top: 2%;
        width: 200px;
        font-size: 15px;
    }
    #nombre {
        width: 200px;
        font-size: 15px;
        color: black;
        background-color: white;
    }
    #correo{
        width: 200px;
        font-size: 20px;
        color: black;
        background-color: white;
    }
    #mensaje{
        height: 100px;
        width: 200px;
        font-size: 15px;
        color: black;
        background-color: white;
    }
}
@media (max-width: 700px){
    .header_section{
        flex-direction: column;
    }  
    #profile_picture{
        width: 30%;
        border-radius: 100px;
    }  
    .header_left{
        align-items: center;
        flex-direction: column;
        width: 100%;
        height: 50%;
    }
    .header_right{
        height: 50%;
        width: 100%;
    }
    #logo_manu{
        width: 4%;
    }
    .nav_bar button{
        height: 100%;
        font-size: 20px;
    }
    .phrase_header_right p{
        font-size: 21px;
    }
    .habilities_section{
        flex-direction: column;
    }
    .habilities_section_left{
        padding-top: 3%;
        padding-bottom: 2%;
        width: 100%;
    }
    .technical_skills_icons img{
        margin-top: 10%;
        width: 40px;
    }
    .habilities_section_right{
        flex-direction: column;
        width: 100%;
    }
    .soft_skills p{
        margin-top: 15%;
        font-size: 15px;
        margin-bottom: 15%;
    }
    .featured_skills{
        width: 100%;
        flex-direction: row;
        justify-content: space-around;
        margin-bottom: 10%;
    }
    .featured_skills img {
        width: 50px;
    }
    .about_me_section{
        flex-direction: column;
    }
    .about_me_section_right{
        
        padding-top: 5%;
        padding-bottom: 5%;
        width: 100%;
    }
    .about_me_section_right p{
        font-size: 15px;
        text-align: center;

    }
    .about_me_section_left{
        padding-top: 5%;
        padding-bottom: 5%;
        width: 100%;
    }
    .contact_section{
        flex-direction: column;
        margin-top: -20%;
    }
    .contact_section_left{
        width: 100%;
        height: 50%;
    }
    .social_media_title{ 
        width: 100%;
    }
    .contact_section_right{
        width: 100%;
        height: 50%;
    }
    footer {
        height: 10%;
    }
    .contact_formulary{
        width: 50%;
        background-color: #52658f;
        /*width: 50%;*/
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }
    .contact_formulary h3{
        border-bottom: solid #f5f5e6;
        background-color: #52658f;
        font-size: 20px;
    }
    .formul{
        font-size: 15px;
        background-color: #52658f;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-content: space-around;
    }
    .formul label{
        background-color: #52658f;
    }
    .formul button {
        margin-top: 2%;
        width: 400px;
        font-size: 15px;
    }
    #nombre {
        width: 400px;
        font-size: 15px;
        color: black;
        background-color: white;
    }
    #correo{
        width: 400px;
        font-size: 15px;
        color: black;
        background-color: white;
    }
    #mensaje{
        height: 50px;
        width: 400px;
        font-size: 15px;
        color: black;
        background-color: white;
    }
}
@media (max-width: 570px){
    .nav_bar{
        flex-direction: column;
        height: 50%;
    }
    .nav_bar button{
        font-size: 15px;
        width: 50%;
        height: 20%;
    }
    .featured_skills p{
        font-size: 15px;
    }

}
